.star-count-image{
    margin-left: 25px;
    height: 200px;
    width: auto;
    position: relative;  
    display: inline-block;
}



@media only screen and (max-width: 600px) {

    .star-count-image{
        margin-left: 5px;
        height: 100px;
        width: auto;
        position: relative;  
        display: inline-block;
    }    

}