.month-description-section{
    text-align: center;
    padding-top: 200px;
}   

body{
    background-color: rgb(202, 238, 255);
}

.table-section{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207) ;
    border-radius: 23px;
    padding: 10px;
    margin: 100px ;
}

.question-in-table{
    text-decoration: none;
}

.code-text-table{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(24, 24, 24);
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) {

    .month-description-section{
        text-align: center;
        padding-top: 60px;
    }   
    
    .month-description-bar{
        padding-top:100px;
        
        text-align: center;
    }

    .code-text-table{
        margin-right: 10px;
    }

    .table-section{
        border-radius: 12px;
        border: 0px solid rgb(207, 207, 207) ;
        margin-top: 100px;
        padding-right: 40%;
        margin-left: 0px;
        margin: 10px ;
    }

}