.month-description-section{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
}   

body{
    background-color: #f9feff;
}

.table-section{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 207, 207) ;
    border-radius: 23px;
    padding: 10px;
    margin: auto;
}


.question-in-table{
    text-decoration: none;
}

.code-text-table{
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(24, 24, 24);
    padding: 5px 20px 5px 20px;
    margin-right: 0px;
}

@media only screen and (max-width: 600px) {

    .month-description-section{
        text-align: center;
        padding-top: 60px;
    }   
    
    .month-description-bar{
        padding-top:100px;
        
        text-align: center;
    }

    .code-text-table{
        margin-right: 10px;
    }

    .table-section{
        border-radius: 2px;
        border: 0px solid rgb(207, 207, 207) ;
        margin-top: 50px;
        margin-left: 0px;
        padding-left: 0px;
        margin-right: 0px;
    }


}