
.star-count-clip, .star-count-text{
    color: rgb(58, 58, 58);
    margin-bottom: 100px;
    margin-top: -10px;
    font-size: 7rem;
}


.star-count-clip, .star-count-image{
    float: right;
    height: 130px; 
    display: inline-flex;
    margin-bottom: 40px;
    margin-left: -5px;
}