.leetcode-language-section{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: rgb(8, 8, 8);
}

.leetcode-language-heading{
    font-size: 2.4rem;
    color: rgb(214, 214, 214);
    line-height: 23px;
    font-weight: 500;
    font-size: 2.6rem;
}

.rating-text{
    color: rgb(254, 254, 255);
    font-weight: 500;
    font-size: 4rem;
}

.leetcode-description{
    font-weight: 300;
    color: rgb(228, 228, 228);
    font-size: 1.3rem;
}

.leetcode-platfrom{
    line-height: 20px;
    font-size: 1.6rem;
    font-weight: 500;
    color: rgb(255, 192, 57);
}

.leetcode-platfrom-id{

    line-height: 0px;
    font-weight: 500;
    color: rgb(103, 255, 184);
    font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {

    .leetcode-language-section{
        padding-top: 80px;
        text-align: right;
        padding-left: 10px;
    }
    
}