#education-frame{
    /* background-image: linear-gradient(rgb(7, 7, 7) , rgb(68, 200, 223)); */
    text-align: center;
    color: white;
    padding-top: 50px;
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
}

#education-title{
    font-size: 3rem;
    color: rgb(129, 129, 129);
    margin-left: 0;
    margin-right: 0;
    font-style: normal;
}


.sub-education{
    /* background-image: linear-gradient(rgb(2, 134, 114) , rgb(4, 113, 146)); */
    /* background-color: rgb(19, 19, 19); */
    border-radius: 0.3rem;
    margin-top: 2%;
    box-shadow: 10ch;
    padding-top: 2%;    
    padding-bottom: 0.2rem;
}

.degree{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 0;
}

.college-name{
    font-size: 1rem;
    color: rgb(54, 54, 54);
}

.college-date{
    font-size: 0.8rem;
    color: rgb(78, 78, 78);
}

#university_image{
    height: 3em;
    color: rgb(14, 12, 12);
    margin-bottom: 5%;
}



@media only screen and (max-width: 600px) {

    
    #education-title{
        font-size: 0rem;
    }
    #education-frame{
        text-align: center;
        color: white;
        padding-right: 0;
        margin-right: 0;
        padding-top: 30px;
        padding-bottom: 0;
    }
    
    #university_image{
        height: 3em;
        color: white;
        margin-bottom: 3%;
        margin-top: 5%; 
    }
    
    .degree{
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0;
    }


    .college-name{
        font-size: 0.8rem;
    }

    .sub-education{
        margin-top: 2%;
        box-shadow: 10ch;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 10%;
    }
}

