#intro-frame{
    width: 100%;
    text-align: center;
    color: black;
    padding-top: 10%;
    height: 60%;
    background-color: rgb(129, 226, 250);
}

.description_akhilesh{
    font-size: 1.6rem;
}



#header_image2{
    display: none;
}


@media only screen and (max-width: 600px) {

    .container-fluid{
        margin-left: 0;
        margin-right: 0;
    }
    

    #intro-frame{

        padding-top: 10%;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0 0 0;
        width: 100%;
        text-align: center;
        height: 100%;
    }

    #header_image{
        display: none;
    }

    #header_image2{
        display:inline ;
        width: 100%;
        height: 100%;
    }

  }