body{
    background-color: black;
    padding: 0;
    margin: 0;
}


#intro-frame{
    padding-top: 20%;
    padding-left: 20%;
    padding-bottom: 20%;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgb(61, 61, 61), rgb(0, 0, 0));
    height: 60%;
}



@media only screen and (max-width: 600px) {
    
    body {
      background-color: lightblue;
    }

    .container-fluid{
        margin-left: 0;
        margin-right: 0;
    }
    

    #intro-frame{
        padding-top: 40%;
        padding-left: 0%;
        padding-right: 0%;
        margin: 0 0 0;
        width: 100%;
        text-align: center;
        background-image: linear-gradient(rgb(61, 61, 61), rgb(0, 0, 0));
        height: 100%;
    }

  }